build*
output
*.swp
*DS_Store
*.vscode
*.nc

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# python
*.pyc
venv
.idea

nbproject
release

UML
